* {
    margin: 0;
    padding: 0;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .content {
    max-width: 550px;
}

.banner .content img {
    max-width: 100%;
    margin-bottom: 15px;
    border-radius: 25px;
}

.banner .content h2 {
    color: white;
}

@media (max-width: 991px) {
    .trailer video {
        max-width: 90%;
    }
}